extends layout

block content
  h1= title
  
  each message in messages 
    div(class='messages')
      div(class='individual')
        h3(class='user')= message.user
        p= message.text
        p= message.added

  a(href='/new' class='new') Add new message